.Partners{
    background: #146E2426;
    width: 100%;
    margin-top: 3rem;
    border-radius: 5px;
}
.Partners h2{
width: 100%;
justify-content: center;
display:flex;
padding:3rem 0;
}
.PartnersName{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(6 ,1fr);
    gap:1rem;
    padding:2rem 3rem 4rem;
}

@media (max-width:940px){
    .PartnersName{
        grid-template-columns: repeat(3 ,1fr);
        
    }
}
@media (max-width:768px){
    .PartnersName{
        grid-template-columns: repeat(2 ,1fr);
        
    }
}